<div class="aligner">
    <md-card class="form-center text-center">
        <md-card-title>
            Register
        </md-card-title>
        <div class="row">
            <md-input-container class="full-width" color="accent">
                <input #username mdInput placeholder="Username">
            </md-input-container>
        </div>
        <div class="row">
            <md-input-container class="full-width" color="accent">
                <input #password mdInput placeholder="Password" type="password">
            </md-input-container>
        </div>
        <div class="row">
            <md-input-container class="full-width" color="accent">
                <input #passwordConfirmation mdInput placeholder="Confirm Password" type="password">
            </md-input-container>
        </div>
        <div class="row">
            <button md-raised-button class="mat-accent"
                    (click)="register(username.value, password.value, passwordConfirmation.value)">
                Register
            </button>
        </div>
        <div class="row">Already a member? <a [routerLink]="['../login']">Login</a></div>
    </md-card>
</div>