<div class="aligner">
    <md-card class="form-center text-center">
        <md-card-title>
            Login
        </md-card-title>
        <div class="row">
            <md-input-container class="full-width">
                <input #username mdInput placeholder="Username" required="required" minlength="8">
            </md-input-container>
        </div>
        <div class="row">
            <md-input-container class="full-width">
                <input #password mdInput placeholder="Password" type="password" required="required" minlength="8">
            </md-input-container>
        </div>
        <div class="row">
            <button md-raised-button class="mat-accent" (click)="login(username.value, password.value)">Login</button>
        </div>
        <div class="row">Not a member? <a class="clickable" (click)="goToRegister()">Register</a></div>
    </md-card>
</div>